@import 'variables';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', 'san-serif';
}

.container {
  max-width: 1200px;
  margin: auto;
}

header h1{
  text-align: center;
  background-color: $lightgrey;
  margin-top: 0;
  padding: 20px;
}

ul {
  background-color: lighten($lightgrey, 10%);
  padding: 20px;
  max-width: 600px;
  margin: auto;
  transform: translateY(300%);
}

ul  li {
  list-style-type: none;
  display: inline;
  margin: 10px;
}

.block {
  width: 10px;
  height: 30px;
  background-color: grey;
}


#draggable2 {
  cursor: e-resize;
}


.drag2 {
  width: 20px;
  height: 100px;
  background-color: grey;
}

.form {
  border: 1px solid;
  position: absolute;
  top: 40%;
  left: 30%;
    input {
      margin: 20px;
      padding: 10px;
    }
}
