<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <link rel="stylesheet" href="../jQuery_ui/jquery-ui.min.css">
  <link rel="stylesheet" href="../jQuery_ui/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="../jQuery_ui/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="../css/tempo.css">
</head>
<body>

<div class="container">
    <header>
      <h1> BPM Counter</h1>
    </header>


<div class="metronome">
    <div class="metronome-counter">
        <h1 id="bpm-counter">BPM: 115</h1>
      <div class="buttons">
          <button id="slower">Slower</button>
          <button id="faster">Faster</button>
      </div>
    </div>
</div>
