<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <link rel="stylesheet" href="../jQuery_ui/jquery-ui.min.css">
  <link rel="stylesheet" href="../jQuery_ui/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="../jQuery_ui/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="../css/tempo.css">
</head>
<body>

<div class="container">
    <header>
      <h1> BPM Counter</h1>
    </header>

    <button id="playMetronome">Play Metronome</button>
    <button id="stopMetronome">Stop Metronome</button>

<div class="metronome">
    <div class="metronome-counter">


      <h1 id="bpm-counter">BPM: <span id="count"></span> </h1>
      <div class="buttons">
          <button id="slower" class="btn-detail">Slower </button>
          <button id="slower10" class="btn-detail">Slower x 10</button>
          <button id="faster" class="btn-detail">Faster </button>
          <button id="faster10" class="btn-detail">Faster x 10</button>
      </div>
    </div>
</div>
