<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="../css/tempo.css">
</head>
<body>

<div class="container">
    <header>
      <h1> Tempo Slider</h1>
    </header>



    <ul>
      <li>90</li>
      <li>95</li>
      <li>100</li>
      <li>105</li>
      <li>110</li>
      <li>115</li>
      <li>120</li>
      <li>125</li>
      <li>130</li>
      <li>135</li>
      <li>140</li>
      <li>145</li>
    </ul>




<div class="drag2">

</div>
