<% include partials/header  %>

<div class="form">
  <form action="/" method="POST">
    <input type="text" placeholder="Exercise Name" name="exercise">
    <input type="text" placeholder="Date" name="date" id="datepicker">
    <input type="text" placeholder="Tempo" name="tempo">
    <input type="submit">
  </form>
</div>

<div class="results">
  <table>

    <tr>
      <th>Exercise</th>
      <th>Date</th>
      <th>Tempo</th>
   </tr>



<% results.forEach(function(result) { %>
  <tr>
   <td> <%= result["exercise"] %></td>
   <td> <%= result["date"] %></td>
   <td> <%= result["tempo"] %></td>
 </tr>
<% })   %>



</table>
</div>





<% include partials/footer  %>
